@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="changingPassworForm" name="changingPassworForm" >

    <input hidden type="text" id="login" name="login" value="@User.Identity.Name" />

    <label for="password">Password: </label>
    <a><input type="password" style="width: 10%;" id="newPassword" name="type"></a>
    <br />
    <label for="password">Confirm password: </label>
    <a><input type="password" style="width: 10%;" id="confirmPassword" name="type"></a>
    <br />
    <input type="submit" id="submitChangePassword" value="Change">
</div>

<script type="text/javascript">

    //$(document).ready(function () {
    //    $('#submitChangePassword').click(function (e) {
    //        var login = $('#login').val();
    //        var password = $('#newPassword').val();
    //        var confirmPassword = $('#confirmPassword').val();

    //        var result=false;

    //        if (confirmPassword === password) {
    //            result = true;
               
    //        }
    //        if (result===true) {
    //            var data = JSON.stringify({
    //                'login': $('#login').val(),
    //                'password': $('#newPassword').val()
    //            });
    //            $.ajax({
    //                type: "POST",
    //                url: "/Account/ChangePassword",
    //                contentType: "application/json; charset=utf-8",
    //                data: data,
    //                success: function (result) {
    //                    alert("Your password was changed.");
    //                    //window.location.href = "/Directory/Table/" + $('#path').val();
    //                },
    //                error: function (result) {
    //                    alert("Your password wasn't changed.");
    //                   /// window.location.href = "/Directory/Table/" + $('#path').val();
    //                }
    //            });
    //        }


    //    });
});
</script>