<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
  <membership defaultProvider="CustomMembershipProvider">
    <providers>
      <clear/>
      <add name="CustomMembershipProvider" type="FileSystem.BusinessLogic.Providers.CustomMembershipProvider" />
    </providers>
  </membership>
  <roleManager enabled="true" defaultProvider="CustomRoleProvider">
    <providers>
      <add name="CustomRoleProvider" type="FileSystem.BusinessLogic.Providers.CustomRoleProvider" />
    </providers>
  </roleManager>
  </system.web>
</configuration>