@using System.Text.RegularExpressions
@model Dictionary<string, string>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}

<label id="titles">
    The result of search:
</label>

<br />

@foreach (KeyValuePair<string, string> file in Model)
{
    if (file.Value == "folder")
    {
        @Html.ActionLink(file.Key, "Table", new { path = file.Key.Replace(":", "") }, new { @style = "color:black;" })
    }
    else if (file.Value == "file")
    {
        @Html.ActionLink(file.Key, "Table", new { path = new Regex(@"^(.+(?=\\)|.+$)").Match(file.Key.Replace(":", "")).Value }, new { @style = "color:black;" })
    }
    <br />
}
@*@foreach (KeyValuePair<string, string> file in Model)
{
    if (file.Value == "file")
    {
        @Html.ActionLink(file.Key, "Table", new { path = file.Key.Replace(":", "") }, new { @style = "color:black;" })
    }
    <br />
}*@
